@charset "UTF-8";

/* 
    #344A5E black/blue
    #B2C7E0 cinza
    #C9456D rose/red
    #D4D8DB white

*/

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    background-color: #B2C7E0;
    height: 100vh;
    width: 100vw;

}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden; /* TUDO QUE FICAR FORA DA BORDA SERÃ ESCONDIDO */

    background-color: #fff;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.438);

    transition: width .5s, height 1s;
    transition-timing-function: ease;
    
}

section#login > div#imagem {
    display: block;
    background: #3b78c2  url(../imagens/pexels-scott-webb-1029611.jpg) no-repeat;
    background-position: left bottom;
    background-size: cover;
    height: 200px;

}

section#login >div#formulario {
    display: block;
    padding: 14px;
}
